head,body{
    margin: 10px;
    background-color: black;
}

#home{
   margin-left: -1;
   margin-right: -1;
   margin-top: -1;
   padding-top: 2cm;
   padding-bottom: 2cm;
   background-color: rgb(100, 100, 212);
}
header{
   font-size: 30px;
   color: rgb(226, 173, 226);
   float: left;
   padding-left: 2cm;
}
nav{
    float: right;
    padding-right: 1cm;
}
nav button{
    color: lightgray;
    background-color: rgb(58, 3, 58);
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: dotted;
}

nav:hover{
   color: white;
   font-weight: bolder;
   background-color: purple;
   text-decoration: solid;
}

section{
    justify-content: center;
    display: grid;
}
figure{
    float: left;
    justify-self: auto;
    width: 200px;
}
img{
    width: 200px;
}

figcaption{
    color: black;
    font-size: 17px;
    text-align: center;
}
fieldset button{
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    width: fit-content;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}
fieldset button:hover{
    cursor: pointer;
}
article fieldset{
    border-top-style: solid;
    border-top-width: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
   
}
#temperature{
    border-top-color: green;
}
#Weight{
    border-top-color: coral;
}
#Distance{
    border-top-color: cyan;
}
legend{
    font-size:30px;
    font-weight: bolder;
}
button{
    width: 40PX;
    height: 40PX;
    border-radius: 100%;
    background-color: cyan;
    display:in;

    bottom: 40px;
    left:0;
    justify-content: center;
}
nav button img{
    width: 30px;
}
footer{
    background-color: rgb(255, 230, 234);
    margin-top: 20px;
}
